@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

#hero-donate {
    min-height: 20vh;
   background-color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: -2rem;
    padding-top: -2rem;
    border: none;
    /* padding: 25px; */
    /* padding: 15px; */
  }
  
  #hero-donate h2 {
    color: var(--clr-primary-400);
    font-size: 1.6rem;
    text-shadow: 0 0 4px #509325;

  }
  
  #hero-donate h1 {
    font-family: var(--ff-accent);
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1.6rem;
    padding-bottom: 1.5rem;
    background: #2c2e2b;
    background: -webkit-linear-gradient(top left, #2c2e2b, #14da11);
    background: -moz-linear-gradient(top left, #2c2e2b, #14da11);
    background: linear-gradient(to bottom right, #2c2e2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }


.donate-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 500 !important;
}
  .yellow-head {
    font-family: 'Quicksand', sans-serif;
    color: #dafc1b;
    font-size: 30px;    
  }

  #tree-info h2 {
      font-size: 1.1rem;
  }

  .donate p {
      margin-top: 1em;
      font-weight: 600;
      width: 75vw;
  }

  .feature {
    color: #fff;
  }
  
  .feature ul {
    padding-left: 2rem;
    list-style-type: none;
  }
  
  .feature ul li {
    padding-left: 2rem;
    /* background-image: url(../img/check.svg);
    background-repeat: no-repeat; */
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  #contact {
    background-color: #fff;
  }

  .btn .btn-outline-primary .mb-3 {
    background-color: #fff;
  }

  .donate-text a {
    color: #fff;
  }

  .center-button {
    text-align: center;
    justify-content: center;
  }