
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

#hero-involved {
    min-height: 75vh;
    background-image:url(https://i.ibb.co/30qNBfK/vita-tree-education.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: -2rem;
    padding-top: -2rem;
    /* padding: 25px; */
    /* padding: 15px; */
  }

  #contact {
    background-color: #fff;
  }

  #contact .row {
    /* display: flex; */
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
    color: #07661e;
    font-weight: 500;
  }

  #contact .col-md-5 {
    align-items: center;
    justify-content: center;
  }

  #contact .col-md-5 a {
     font-weight: 550;
     max-width: 80vw;
     font-size: 14px;
  }
  #contact .col-md-5 img {
    border-radius: 50%;
    margin-bottom: 3rem;
    margin-left: 3rem;
    max-width: 30vw;
    max-height: 30vh;
   align-self: center;
  }

  #contact .contact-image {
    text-align: center;
    margin-inline: 2rem;
    color: #07661e;
  font-weight: 500;
  }

.quote p {
  color: #07661e;
  font-weight: 500;
}
  
  #involved h1 {
    /* font-family: "Playfair Display", serif; */
    font-family: var(--ff-accent);
      font-size: 2rem;
      letter-spacing: .12rem;
      font-weight: 800;
      padding-bottom: .5rem;
      color: #fff;
  }

  .donate h1 {
      color: #dafc1b;
        }

  #green-wave {
    width: 75vw;
  }

  #green-wave h1 {
    color: #dafc1b;
  }

  #green-wave p {
    color: #fff;
  }
  #tree-info h2 {
      font-size: 1.1rem;
  }

  .donate p {
      font-weight: 600;
  }

  .feature {
    color: #fff;
  }
  
  .feature ul {
    padding-left: 2rem;
    list-style-type: none;
  }
  
  .feature ul li {
    padding-left: 2rem;
    /* background-image: url(../img/check.svg);
    background-repeat: no-repeat; */
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  .text-circle {
     display: block;
     background-color: #fff;
     color: #07661e;
     border-radius: 50%;     
  }

  .contact-block {
    box-sizing: border-box;
    min-width: 30vw;
    text-align: left;
    justify-content: center;
    margin-left: 12%;
    display: inline-block;
    font-size: 18px;
    color: #07661e;
    line-height: 1.75;
    
  }

  .contact-block a {
      font-size: 18px;
      color: #07661e;     
      font-weight: 600; 

      margin-bottom: 1em;
    }
 