
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

#hero {
    min-height: 75vh;
    background-image:url(/img/vita-tree-education.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: -2rem;
    padding-top: -2rem;
    /* padding: 25px; */
    /* padding: 15px; */
  }

  #contact .col-md-5 img {
    border-radius: 50%;
    margin-bottom: 3rem;
    margin-left: 3rem;
    max-width: 30vw;
    max-height: 30vh;
   align-self: center;
  }

  #contact .contact-image {
    text-align: center;
    margin-inline: 2rem;
  }

  