.logo {
    display: flex;
   }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }
  
  .site-nav a {
    margin-top: 1.7rem;
    /* padding-top: 2rem; */
    margin-left: 0;
    padding-left: 0;
    color: #0d3d16;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
    color: #14DA11;
  }
  
  /* .site-nav--icon {
    display: none;
  } */

  .site-nav i {
    display: inline-block;
    text-align: left;

  }
  
}

/* .logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  color: #509325;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}


.site-nav {
  position: absolute;
  align-items: center;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  /* display: none; }*/

/* 
.site-nav--open {
  clip-path: circle(250% at top right);
  display: block;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: rgb(52, 223, 109);
  display: block;
  font-size: 1rem;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 1em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: rgb(5, 197, 21);
  /* text-shadow: 1 0 3px #aa1653; */
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
} */

